<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color" th:fragment="navbar">

    <!-- Navbar brand -->
    <a class="navbar-brand" th:href="@{/}">Home</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbar">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="carsDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Cars</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="carsDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/cars/add}">Add</a>
                    <a class="dropdown-item" th:href="@{/cars}">View</a>
                    <a class="dropdown-item" th:href="@{/cars/search}">Search</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="employeesDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Employees</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="employeesDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/employees/add}">Add</a>
                    <a class="dropdown-item" th:href="@{/employees}">View</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="salesDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Sales</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="salesDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/sales/add}">Add</a>
                    <a class="dropdown-item" th:href="@{/sales}">View</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/clients}">Clients</a>
            </li>

        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<!--Navbar-->

</body>
</html>